In [2]:
# Импортируем нужные пакеты для дальнейших преобразований
import pandas as pd
from datetime import datetime, date

In [33]:
# Таблица с историей изменения имени и города
susb = {
    'subs_id': [2, 2, 2],
    'name': ['Вася', 'Петя', 'Петя'],
    'city_id': [4, 4, 5],
    'beg_dt': ['1900-01-01', '2001-01-01', '2010-01-01'],
    'end_dt': ['2001-01-01', '2010-01-01', '9999-01-01']
}

# Таблица с историей изменения наименовая города
city = {
    'city_id': [4, 4, 5],
    'name': ['Омскград', 'Омск', 'Томск'],
    'beg_dt': ['1900-01-01', '1990-01-01', '1900-01-01'],
    'end_dt': ['1990-01-01', '9999-01-01', '9999-01-01']
}

In [34]:
# Переводим таблицу susb в Dataframe
susb_df = pd.DataFrame(susb)

In [35]:
# Переводим таблицу city в Dataframe
city_df = pd.DataFrame(city)

In [36]:
# Dataframe susb
susb_df

   subs_id  name  city_id      beg_dt      end_dt
0        2  Вася        4  1900-01-01  2001-01-01
1        2  Петя        4  2001-01-01  2010-01-01
2        2  Петя        5  2010-01-01  9999-01-01

In [37]:
# Dateframe city
city_df

   city_id      name      beg_dt      end_dt
0        4  Омскград  1900-01-01  1990-01-01
1        4      Омск  1990-01-01  9999-01-01
2        5     Томск  1900-01-01  9999-01-01

In [38]:
# Переменная с текущей датой
today_date = date.today().isoformat()

In [39]:
# Замена 9999-01-01 на текущую дату так как у pandas проблемы со считываем такой даты и NaT значения нам не подходят
susb_df["end_dt"] = susb_df["end_dt"].replace('9999-01-01', today_date)

In [40]:
# Преобразование susb_df в формат даты
susb_df['beg_dt'] = pd.to_datetime(susb_df['beg_dt'])
susb_df["end_dt"] = pd.to_datetime(susb_df["end_dt"])

In [41]:
# # Замена 9999-01-01 на текущую дату так как у pandas проблемы со считываем такой даты и NaT значения нам не подходят
city_df['end_dt'] = city_df['end_dt'].replace('9999-01-01', today_date)

In [42]:
# # Преобразование city_df в формат даты
city_df['beg_dt'] = pd.to_datetime(city_df['beg_dt'])
city_df["end_dt"] = pd.to_datetime(city_df["end_dt"])

In [43]:
# Фильтрация susb_df на текущую дату
filtered_susb_df = susb_df[(susb_df["beg_dt"] <= today_date) & (susb_df["end_dt"] >= today_date)]

# Фильтрация city_df на текущую дату
filtered_city_df = city_df[(city_df["beg_dt"] <= today_date) & (city_df["end_dt"] >= today_date)]

In [44]:
# Вывод актуальных записый таблицы susb_df действующих на текущий момент
filtered_susb_df

   subs_id  name  city_id     beg_dt     end_dt
2        2  Петя        5 2010-01-01 2023-11-19

In [45]:
# # Вывод актуальных записей таблицы city_df действующих на текущий момент
filtered_city_df

   city_id   name     beg_dt     end_dt
1        4   Омск 1990-01-01 2023-11-19
2        5  Томск 1900-01-01 2023-11-19

In [46]:
# Объеденяем таблцы susb_df и city_df
merged_subs_city = pd.merge(susb_df, city_df, on='city_id')

In [47]:
# Переименовываем колонки для лучшей читабельности
merged_subs_city = merged_subs_city.rename(columns={
   'name_x': 'name_subs',
   'beg_dt_x': 'beg_dt_subs',
   'end_dt_x': 'end_dt_x',
   'name_y': 'name_city',
   'beg_dt_y': 'beg_dt_city',
   'end_dt_y': 'end_dt_city'
})

In [48]:
# Вывод объедененой таблицы
merged_subs_city

,subs_id,name_subs,city_id,beg_dt_subs,end_dt_x,name_city,beg_dt_city,end_dt_city
0,2,Вася,4,1900-01-01,2001-01-01,Омскград,1900-01-01,1990-01-01
1,2,Вася,4,1900-01-01,2001-01-01,Омск,1990-01-01,2023-11-19
2,2,Петя,4,2001-01-01,2010-01-01,Омскград,1900-01-01,1990-01-01
3,2,Петя,4,2001-01-01,2010-01-01,Омск,1990-01-01,2023-11-19
4,2,Петя,5,2010-01-01,2023-11-19,Томск,1900-01-01,2023-11-19

In [49]:
# Объеденяем таблцы filtered_susb_df и filtered_city_df
merged_filter_dfs = pd.merge(filtered_susb_df, filtered_city_df, on='city_id')

In [50]:
# Переименовываем колонки для лучшей читабельности
merged_filter_dfs = merged_filter_dfs.rename(columns={
   'name_x': 'name_subs',
   'beg_dt_x': 'beg_dt_subs',
   'end_dt_x': 'end_dt_x',
   'name_y': 'name_city',
   'beg_dt_y': 'beg_dt_city',
   'end_dt_y': 'end_dt_city'
})

In [51]:
# Вывод отфильтрованной таблицы
merged_filter_dfs

,subs_id,name_subs,city_id,beg_dt_subs,end_dt_x,name_city,beg_dt_city,end_dt_city
0,2,Петя,5,2010-01-01,2023-11-19,Томск,1900-01-01,2023-11-19